<div class="article-footer-copyright">

<p>本文由 selfboot 发表于 <a href="http://selfboot.cn" target="_blank">个人博客</a>，采用<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh" target="_blank" >署名-非商业性使用-禁止演绎 3.0进行许可</a>。</p>
<p>非商业转载请注明作者及出处。商业转载请联系<a href="mailto:xuezaigds@gmail.com">作者</a>本人。</p>
<p>
本文标题为: <a href="<%- url_for(post.path) %>" target="_blank"><%= post.title %></a><br/>
本文链接为: <a href="<%- url_for(post.path) %>" target="_blank">http://selfboot.cn<%- url_for(post.path) %></a>
</p>
</div>
