  <div class="counter-tag counter">
    <!-- 别忘记这个类名... post-title-link -->
    <span id="<%- url_for(post.path) %>" class="leancloud_visitors article-hits post-title-link"
          style="font-size: 12px" data-flag-title="<%= post.title %>">
        <%= __('次阅读') %>
    </span>

  </div>
